<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Verify Your Account</title>
  <style>
    body {
      background: #f2f2f2;
    }
    section {
      font-family: proxima-nova, sans-serif;
      margin: auto;
      width: 60%;
    }
    .small_text {
      font-size: 16px;
      margin-top: 30px;
      color: #424242;
    }
    .body_par {
      color: #333;
    }
    .login_body li {
      list-style: none;
    }
    .login_body li {
      color: #333;
    }
    a {
      text-decoration: none;
    }
    .footer_text {
      font-size: 15px;
      margin-top: 20px;
      color: #333;
    }
    footer {
      margin-top: 35px;
      color: #222;
      font-size: 15px;
      margin-bottom: 25px;
    }
    footer p {
      line-height: 1.7;
    }
    .logo_img {
      width: 100%;
    }
    
    .verify_button {
      background-color:  #282acf;
      color: #ffffff;
      padding: 5px 20px;
      font-size: 16px;
      border-radius: 10px;
      font-weight: bold;
      text-transform: capitalize;
      text-align: center;
    }
    @media screen and (max-width: 812px) {
      section {
        width: 95%;
      }
      .small_text {
        font-size: 14px;
        margin-top: 40px;
      }
      .footer_text {
        font-size: 13px;
      }
      .tuner_logo {
        height: 280px;
      }
      .tuner_logo img {
        margin-top: 70px;
        width: 200px;
      }
      .logo_img {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <section>
    <h2>Verify Account</h2>
    <div class="small_text">
      <div class="logo_img">
        <img  src="https://res.cloudinary.com/accelevents/image/fetch/c_fill_pad,dpr_3.0,f_auto,fl_lossy,g_auto,h_350,q_100,w_700/https://s3.amazonaws.com/v2-s3-prod-accelevents/44e52ba8-78ad-42ec-94b9-dcdeef5a388a"
          alt="grader_logo" style="width:100%;" />
      </div>
      <p>
        <strong>Dear <%= firstname %>,</strong>
      </p>
    </div>
    <div class="body_par">
      <p>
        Your account on <b>TourRadar</b> Was successfully created. please click the button below to verify your account.
      </p>
    </div>
    <div class="login_body">
      <h4>Your Account Info.</h4>
      <li>
        <b>Email: </b><span class="info_text"><%= email %></span>
      </li>
    </div>
    <a href="<%= body %>">
      <div class="verify_button">
        <h2 style="font-size: 15px;">Verify Account</h2>
      </div>
    </a>
    <p class="footer_text">
      If you encounter any problem, please don't hesitate to CONTACT US at
      <span style="color:#424242"><a href="mailto:hdidiersharif@gmail.com">hdidiersharif@gmail.com</a></span>
    </p>
    <footer>
      <p>
        <span>Kigali, Rwanda</span><br />
        <span><b> (+250) 784 8768 536</b></span><br />
      </p>
      &copy; TourRadar- All Rights Reserved.
    </footer>
  </section>
</body>

</html>